<h3>All Buildings</h3>
<ol>
<% @buildings.each do |b|%>

<li>
  <%= link_to b.name, building_path(b) %> <br>
  <ul>
    <li>Rent per floor: <%= b.rent_per_floor %> </li>
    <li>Number of Available Floors: <%= b.number_of_floors %></li> 
  </ul>
</li><br>
<% end %>
</ol>